*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas1 {
    border:5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;   
}

#imgs-preload{
    display: none;
}

#canvas-overlay {     
    position: absolute;  
    display: none;   
    top: 50%;     
    left: 50%;     
    width:500px;     
    height:500px;     
    transform:translate(-50%, -50%);     
    max-width: 100%;     
    max-height: 100%;       
    z-index:3; }


 #Choice_1{
    z-index:2;
        }

#Choice_2{
    z-index:2;
        }

#Choice_3{
    z-index:2;
        }

#Choice_4{
    z-index:2;
         }
#food{
    z-index: 3;
}
        
    